.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(247, 247, 247);
}

.sidebar__header {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
}

.sidebar__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background-color: rgb(228, 228, 228);
  }
}

.sidebar__header-img {
  width: 30px;
  height: 30px;
}

.sidebar__header-img > img {
  width: 100%;
  border-radius: 7px;
}

.sidebar__header-title {
  font-size: 16px;
  font-weight: 500;
}

.sidebar__list {
  width: 90%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  box-sizing: border-box;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  color: rgb(104, 102, 102);
  cursor: pointer;
  padding: 5px;

  &:hover {
    background-color: rgb(242, 241, 241);
  }
}

.sidebar__item-buttons {
  display: flex;
}

.sidebar__item-toggle,
.sidebar__item-create,
.sidebar__item-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #aaa;

  &:hover {
    background-color: rgb(218, 217, 217);
  }
}

.sidebar__item-toggle,
.sidebar__item-delete {
  font-size: 10px;
  font-weight: bold;
}

.sidebar__item-title {
  flex-grow: 1;
}
