.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(247, 247, 247);
}

.sidebar__header {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
}

.sidebar__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background-color: rgb(228, 228, 228);
  }
}

.sidebar__header-img {
  width: 30px;
  height: 30px;
}

.sidebar__header-img > img {
  width: 100%;
  border-radius: 7px;
}

.sidebar__header-title {
  font-size: 16px;
  font-weight: 500;
}

.sidebar__list {
  width: 90%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  height: 30px;

  &--0 {
    padding-left: 0px;
  }
  &--1 {
    padding-left: 0px;
  }
  &--2 {
    padding-left: 0px;
  }
}
